# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### *Objectives:*

* Popular languages in Data Scientists
* Libraries used by Data Scientists
* Data Science Tools

### Some of the popular languages that Data Scientists use are:

* Python
* R
* SQL

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++

### Some of the commonly used libraries used by Data Scientists include:

* Pandas
* Numpy
* Matplotlib

1. Seaborn
2. Scikit-Learn
3. Keras
4. TensorFlow
5. PyTorch

|Data Science Tools|
|---------------------------------|
|MySQL|
|Apache Spark SQL|
|Git|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#  This a simple arithmetic expression to mutiply then add integers

suma = (3*4)+5
print(suma)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = 60
totalhours = minutes/hours

print(totalhours)

3.3333333333333335

## Author:

 Valdez Mondello Facundo Oscar